<head>
    <!-- Bootstrap include -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- fontawsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">

    <!-- jquery 버전 유의 -->
    <!-- slim/jquery, 3.1.0 윗 버전에서 ajax가 작동하지 않는 오류 확인 -->
    <!-- Bootstrap의 CDN을 copy&paste 하되 Line 8의 버전만 3.1.0으로 수정하세요 -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

    <title>ArtWork</title>
</head>

<body>
    <header>
        <div class="px-3 py-2 bg-dark text-white">
            <div class="mx-5 w-auto">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <i class="fab fa-acquisitions-incorporated fa-2x mr-3"></i>
                        <span style="font-size: 1.5rem;">ArtWork</span>
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="./home.html" class="nav-link text-white text-center">
                                <i class="bi d-block mx-auto mb-1 fas fa-home fa-2x" width="24" height="24"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="./dashboard.html" class="nav-link text-white text-center">
                                <i class="bi d-block mx-auto mb-1 fas fa-tachometer-alt fa-2x" width="24" height="24"></i>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="./orders.html" class="nav-link text-white text-center">
                                <i class="bi d-block mx-auto mb-1 fas fa-book fa-2x" width="24" height="24"></i>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="./customers.html" class="nav-link text-white text-center">
                                <i class="bi d-block mx-auto mb-1 fas fa-user-circle fa-2x" width="24" height="24"></i>
                                Customers
                            </a>
                        </li>
                        <li>
                            <a href="./works.html" class="nav-link text-white text-center">
                                <i class="bi d-block mx-auto mb-1 fas fa-palette fa-2x" width="24" height="24"></i>
                                Works
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
            <div class="d-flex flex-wrap justify-content-between mx-5 w-auto">
                <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-light text-dark me-2">Login</button>
                    <a href="./signup.html">
                        <button type="button" class="btn btn-primary">Sign-up</button>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="py-5 text-center container" style="background-image: url(./images/baner.jpg);">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">ArtWork - 미술품 재테크</h1>
                    <p class="lead text-muted">'디지털 분할 소유권'을 통해 누구나 원하는 만큼 안전하게 미술품 재테크를 할 수 있는 플랫폼입니다.</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Show Upcoming Artworks</a>
                        <a href="#" class="btn btn-secondary my-2">Tarde Property Now</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4">
                    <div class="col">
                        <a href="./firstbuy.html" class="work-link">
                            <div class="card shadow-sm">
                                <img src="./images/1.jpg" alt="1" class="bd-placeholder-img card-img-top" style="background-size: contain; background-repeat: no-repeat;">
                
                                <div class="card-body">
                                    <h5>Annular Solar Eclipse</h5>
                                    <small class="card-text">Takashi Murakami</small>
                                    <p class="card-text">2016 offset print, diameter 71cm</p>
                                    <div>
                                        <small class="text-muted d-block">remaining property : 77 / 100</small>
                                        <small class="text-muted">Time remaining : 9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="./firstbuy.html" class="work-link">
                            <div class="card shadow-sm">
                                <img src="./images/2.jpg" alt="2" class="bd-placeholder-img card-img-top" style="background-size: contain; background-repeat: no-repeat;">
                
                                <div class="card-body">
                                    <h5>Nighthawks</h5>
                                    <small class="card-text">Edward Hopper</small>
                                    <p class="card-text">1942 oil paint, 84 x 152cm</p>
                                    <div>
                                        <small class="text-muted d-block">remaining property : 3 / 1000</small>
                                        <small class="text-muted">Time remaining : 30 mins</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="./firstbuy.html" class="work-link">                            
                            <div class="card shadow-sm">
                                <img src="./images/3.jpg" alt="3" class="bd-placeholder-img card-img-top" style="background-size: contain; background-repeat: no-repeat;">
                
                                <div class="card-body">
                                    <h5>Portrait of an Artist</h5>
                                    <h5>(Pool with Two Figures)</h5>
                                    <small class="card-text">David Hockney</small>
                                    <p class="card-text">1972 acryl, 210 x 300cm</p>
                                    <div>
                                        <small class="text-muted d-block">remaining property : 1 / 1000</small>
                                        <small class="text-muted">Time remaining : 40 mins</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4">
                    <div class="col">
                        <a href="./firstbuy.html" class="work-link">                            
                            <div class="card shadow-sm">
                                <img src="./images/4.jpg" alt="test" class="bd-placeholder-img card-img-top" style="background-size: contain; background-repeat: no-repeat;">
    
                                <div class="card-body">
                                    <h5>The Lovers II</h5>
                                    <small class="card-text">Rene Magritte</small>
                                    <p class="card-text">1928 oil paint, 54 x 73.4cm</p>
                                    <div>
                                        <small class="text-muted d-block">remaining property : 12 / 1000</small>
                                        <small class="text-muted">Time remaining : 35 mins</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="./firstbuy.html" class="work-link">                            
                            <div class="card shadow-sm">
                                <img src="./images/5.jpg" alt="test" class="bd-placeholder-img card-img-top" style="background-size: contain; background-repeat: no-repeat;">
                
                                <div class="card-body">
                                    <h5>F. Champenois Imprimeur-Éditeur</h5>
                                    <small class="card-text">Alphonse Maria Mucha</small>
                                    <p class="card-text">1897 offset lithograph, 40 x 53.9cm</p>
                                    <div>
                                        <small class="text-muted d-block">remaining property : 7 / 500</small>
                                        <small class="text-muted">Time remaining : 10 mins</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="./firstbuy.html" class="work-link">                            
                            <div class="card shadow-sm">
                                <img src="./images/6.jpg" alt="test" class="bd-placeholder-img card-img-top" style="background-size: contain; background-repeat: no-repeat;">
                
                                <div class="card-body">
                                    <h5>La Troupe De Mademoiselle Eglantine</h5>
                                    <small class="card-text">Henri de Toulouse-Lautrec</small>
                                    <p class="card-text">1895 lithograph poster</p>
                                    <div>
                                        <small class="text-muted d-block">remaining property : 15 / 100</small>
                                        <small class="text-muted">Time remaining : 7 mins</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="py-5">
        <div class="row container-fluid px-5">
            <div class="col-2">
                <h5>Made by</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">이봉학</li>
                    <li class="nav-item mb-2">김동현</li>
                </ul>
            </div>
    
            <div class="col-2">
                <h5>Supported by</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">아주대학교</li>
                    <li class="nav-item mb-2">아주대학교 LINC사업단</li>
                    <li class="nav-item mb-2">서울ICT이노베이션스퀘어</li>
                </ul>
            </div>
    
            <div class="col-2">
                <h5>Special Thanks to</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">김재훈 교수님</li>
                    <li class="nav-item mb-2">최광훈 강사님</li>
                    <li class="nav-item mb-2">신운섭 강사님</li>
                    <li class="nav-item mb-2">황동엽 강사님</li>
                    <li class="nav-item mb-2">박찬형 강사님</li>
                </ul>
            </div>
    
            <div class="col-5 offset-1 px-5">
                <form class="px-5">
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of whats new and exciting from us.</p>
                    <div class="d-flex w-100 gap-2">
                        <input id="newsletter1" type="text" class="form-control-md" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    
        <div class="d-flex justify-content-between py-4 my-4 border-top px-5">
            <p>&copy; 2021 myCompany, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3 mx-1">
                    <a class="link-dark" href="#">
                        <i class="fab fa-twitter fa-2x bi text-dark" width="24" height="24"></i>
                    </a>
                </li>
                <li class="ms-3 mx-1">
                    <a class="link-dark" href="#">
                        <i class="fab fa-instagram fa-2x bi text-dark" width="24" height="24"></i>
                    </a>
                </li>
                <li class="ms-3 mx-1">
                    <a class="link-dark" href="#">
                        <i class="fab fa-facebook-square fa-2x bi text-dark" width="24" height="24"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>

<style>
    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .text-small {
        font-size: 85%;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .work-link {
        text-decoration: none;
        color: inherit;
    }

    .work-link:hover {
        text-decoration: none;
        color: inherit;
    }
</style>